$color-red: #c83c3c;
$color-red-light: #d75050;
$color-red-border: #c2182d;
$color-blue: #446bf1;
$color-lila: #ef95f4;
$color-gray: #e8e8e8;
$color-gray2: #b3b3b3;
$color-gray-light: #f7f7f7;
$color-gray-dark: #535353;
